.navbar-power {

    height: 70px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    width: 85%;
    border: 1px solid rgba(255, 255, 255, 0.18);

    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: relative;
    top: 150px;
    left: 7%;



    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
    /* max-width: 90%; */
    /* margin: 30px; */
    /* margin-left: 30px; */
    /* margin-left: 70px; */
    /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  /* margin-top: -6px; */
    /* position: absolute;
  top: 24px;
  width: 85%;
  left: 7%; * */
}

.logo-power {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-power h1 {
    font-size: 25px;
    color: #ffffff;
}

.logo-power img {
    width: 70px;
    height: 50px;
    color: #ffffff;
}

.nav-links-power {
    list-style: none;
    display: flex;
    gap: 26px;
    margin: 0;
    padding: 0;
}

.nav-links-power a {
    color: var(--text);
    text-decoration: none;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 8px;
    position: relative;
    transition: 0.3s ease;
    color: #ffffff;
}

.navbar-power button {
    color: #ffffff;
    padding: 11px 28px;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    background: none;

}

.nav-links-power h4 {
    color: var(--text);
    text-decoration: none;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 8px;
    position: relative;
    transition: 0.3s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 3px;
    background: var(--accent);
    border-radius: 4px;
    transition: 0.3s ease;
}


.nav-links-power a:hover::after {
    width: 100%;
}

.nav-links-power a:hover {
    color: var(--accent);
    transform: translateY(-2px);
}

/* .div-conatiner-999 {
    background-color: red;
    width: 100%;
    height: 200px;



    padding: 0;
    margin: 0;
} */