.Travel-conatiner {
    width: 100%;

    height: 63pc;

    background: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.8) 100%), url('../../../assets/background.jpg');
    background-size: 100%;
}

.Travel-row {
    width: 250px;
    height: 200px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    left: 10rem;
    bottom: -10px;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.4);
}

.Travel-conatiner h1 {
    text-align: center;
    opacity: 0.85;
    color: #ffff;


}

#Travel-icon {

    margin: 10px;
    position: relative;
    top: 10px;
    font-size: 30px;
    left: 37px;
    opacity: 0.85;
    color: #ffff;

}

#Travel-span {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 12px;
    left: 90px;
    opacity: 0.85;
    color: #ffff;
}

.Travel-row p {
    margin: 20px 20px;
    text-align: center;
    opacity: 0.85;
    color: #ffff;
}

.Travel-part23 {
    display: flex;
    margin-right: 400px;
    align-items: center;

    justify-content: space-around;
}

.Travel-footer-TP {
    width: 30%;
    height: 350px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    top: 70px;
    left: 70px;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

.Travel-footer-TP p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ffff;
    opacity: 0.85;
}

.Travel-check {
    display: flex;
    flex-direction: column;
}

.Travel-footer-TP button {
    height: 40px;
    width: 71%;
    margin-left: 71px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #ffff;
    font-size: 20px;
    font-weight: 600;
}

.Travel-check input {
    height: 30px;

    width: 70%;
    margin-left: 70px;
    text-decoration: none;
    background-color: transparent;
    color: #ffff;
    outline: none;

    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    ;

}

#id-container {
    color: #ffff;
    font-size: 30px;

}

.id-conatiner-0222 {
    display: flex;
    justify-content: flex-end;
    margin-right: 130px;
    gap: 10px;
    position: relative;
    top: 50px;

}