
  /* font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */



body {
  margin: 0;
  padding: 0;
  background-color: black;
  /* background:  url('./assets/background.jpg'); */
  background-size: 100%;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
}





